.center {
  text-align: center;
}
.auto {
  margin: auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex_direction {
  flex-direction: column;
}
.flex_end {
  justify-content: center;
}
.flex_center {
  justify-content: center;
}
.flex_align_center {
  align-items: center;
}
.hidden {
  display: none;
}
.gird {
  display: grid;
}
.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
}
