@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* background-color: var(--bg_color); */
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2.4rem;
}
:root {
  --bg_color: #ffdab9;
  --main_headings: #002366;
  --secondary_color: #0f52ba;
  --normal_color: #fa8072;
}
/* typography */
h1 {
  color: var(--main_headings);
}
h2 {
  color: var(--secondary_color);
}
a {
  text-decoration: none;
}

/* header section */
header {
  background-color: var(--bg_color);
  padding: 1rem;
}
header li {
  list-style: none;
}
header ul {
  margin: 3rem;
}
header a {
  margin: 3rem 3rem;
  font-weight: 700;
  color: var(--main_headings);
}
header a:hover {
  color: var(--secondary_color);
}

/* All about triangle section */
.intro_container {
  max-width: 100rem;
  margin: auto;
}
.intro_h1 {
  margin: 5rem 1rem 0.5rem 1rem;
}
.intro_h2 {
  margin: 3rem 1rem 1rem 1rem;
}
.intro_li {
  margin-left: 3rem;
}
.intro_image {
  height: auto;
  width: 100%;
}
/* angle checker app */
.angle_checker_body {
}
.angle_checker {
  padding-top: 5rem;
  border: 1px solid red;
  margin: auto;
}
.angle_checker_input input {
  width: 20rem;
  margin: 5rem 0 5rem 3rem;
  outline: none;
  border-radius: 10px;
  border: none;
  border: 1px solid var(--secondary_color);
  padding: 1rem 2rem;
}
.clearScreen,
._isTriangle {
  padding: 1rem 3rem;
  background-color: var(--bg_color);
  color: var(--main_headings);
  font-weight: 700;
  font-size: 2.4rem;
  border-radius: 10px;
  border: 1px solid var(--bg_color);
  cursor: pointer;
  margin: 2rem 5rem;
}
.clearScreen:hover,
._isTriangle:hover {
  transform: scale(0.9, 0.9);
}
.output {
  /* width: 18ch; */
  color: var(--secondary_color);
  /* font-weight: 400; */
}
