@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* background-color: var(--bg_color); */
}
html {
  font-size: 62.5%;
}
body {
  font-size: 2.4rem;
}
:root {
  --bg_color: #ffdab9;
  --main_headings: #002366;
  --secondary_color: #0f52ba;
  --normal_color: #fa8072;
}
/* typography */
h1 {
  color: var(--main_headings);
}
h2 {
  color: var(--secondary_color);
}
a {
  text-decoration: none;
}

/* header section */
header {
  background-color: var(--bg_color);
  padding: 1rem;
}
header li {
  list-style: none;
}
header ul {
  margin: 3rem;
}
header a {
  margin: 3rem 3rem;
  font-weight: 700;
  color: var(--main_headings);
}
header a:hover {
  color: var(--secondary_color);
}

/* All about triangle section */
.intro_container {
  max-width: 100rem;
  margin: auto;
}
